#shopify-section-password-content {
  @apply p-0 mb-16;

  .container {
    @apply max-w-6xl;
  }
}

.password-content {
  @apply p-8 z-10 mb-8;

  align-items: center;
  background-color: $password-bg;
  color: $password-text;
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .background {
    background-blend-mode: $password-bg-blend;
    background-color: $password-bg;
    background-position: $password-bg-align;
    background-repeat: $password-bg-repeat;
    background-size: $password-bg-size;
    opacity: $password-bg-opacity;
    z-index: -1;
  }
}

.password-social-accounts {
  @apply mt-5;

  .social-icons {
    @apply space-x-4;
  }
}

@screen tablet-down {
  .password-header {
    @apply mb-16;
  }

  .password-content-newsletter,
  .password-social-accounts {
    padding-left: 13%;
    padding-right: 13%;
    width: 100%;
  }
}

@screen mobile {
  .password-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@screen desktop {
  .password-message,
  .password-content-newsletter,
  .password-contact-form {
    @apply max-w-md;
  }
}
