#announcement-header {
  @apply z-50;
}

.announcement {
  background-color: var(--c-banner-bg);
  color: var(--c-banner-text);
  position: relative;
  text-align: center;

  &:hover {
    background-color: var(--c-banner-bg--hover);
    color: var(--c-banner-text--hover);
  }

  .link,
  .prose {
    @apply m-0;

    display: block;
    max-width: 100%;
    position: relative;

    &,
    &:hover {
      color: inherit;
    }
  }

  .link {
    text-decoration: none;
  }

  .prose {
    @apply py-3 px-8;

    font-size: $f-size-small;
    font-weight: $f-weight;

    @sreen widescreen {
      @apply px-12;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}

.announcement-bg {
  background-position: center;
  background-size: cover;
  opacity: 1;
}
