.banner {
  @apply py-3 px-5 bg-gray-200 border-gray-600;

  border-top-style: solid;
  border-top-width: 3px;
  text-align: left;

  .is-error {
    background-color: rgba(var(--c-error--rgb), 0.85);
    border-top-color: var(--c-error);
  }

  .is-success {
    background-color: rgba(var(--c-success--rgb), 0.85);
    border-top-color: var(--c-success);
  }

  ul {
    @apply pl-5;
  }
}
