.cart-item {
  @apply p-4;

  width: 100%;
}

.cart-item-content {
  @apply space-x-4;

  align-items: flex-start;
  display: flex;
  flex-flow: unless-rtl(row, row-reverse) wrap;
  justify-content: space-between;
}

.cart-item-image {
  @apply rounded-sm h-32 w-32;

  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  overflow: hidden;

  img {
    max-width: none;
  }
}

.cart-item-details {
  flex: 1;
}

.cart-item-price {
  flex: 0 1 auto;

  .item-price {
    @apply mb-2;

    font-weight: $f-weight-bold;
    text-align: unless-rtl(right, left);
  }
}

.cart-item-footer {
  align-items: center;
  color: $c-text-light;
  justify-content: flex-end;
}
