#mobile-navigation {
  background-color: var(--cn-c-bg);
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transform: translate3d(0, -100%, 0);
  transition-duration: 450ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.29, 0.63, 0.44, 1);
  width: 100%;
  z-index: -1;

  &.open {
    display: block;
    transform: none;
  }
}

.mobile-navigation-menu {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition-duration: 450ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.29, 0.63, 0.44, 1);

  &.has-secondary-open {
    transform: translate3d(-100%, 0, 0);
  }

  &.has-tertiary-open {
    transform: translate3d(-200%, 0, 0);
  }

  .menu-item {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    &__dropdown {
      background-color: var(--c-body);
      display: none;
      position: absolute;
      right: -100%;
      top: 0;
      width: 100%;
      z-index: 8;

      &.closing {
        opacity: 0.99;
        transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
      }
    }

    &__link,
    &__button {
      @apply p-2;

      align-items: center;
      color: var(--c-body-text);
      display: flex;
      flex: 1 1 100%;
      flex-flow: row nowrap;
      font-size: 1rem;
      height: initial;
      justify-content: space-between;
      letter-spacing: 1px;
      width: 100%;

      &.button {
        border: none;
        color: inherit;
      }

      &.active + .menu-item__dropdown {
        display: block;
        opacity: 1;
      }
    }

    &.has-icon .menu-item__link,
    &.has-icon .menu-item__button {
      justify-content: flex-start;
    }

    &__label {
      color: var(--c-body-text);
      font-family: var(--cn-fstack-header);
      letter-spacing: 1px;
      margin-left: 2.5em;
      text-transform: uppercase;
    }

    &.has-icon .menu-item__label {
      margin-left: 1em;
    }
  }
}
