#site-navigation {
  position: relative;
  z-index: 1;
}

.navigation {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: visible;

  > .nav-item {
    @apply p-2;

    &:not(:first-child),
    &:not(:last-child) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.nav-menu {
  padding: 1em;

  &__list {
    list-style: none;
  }
}

.nav-item {
  &:not(:first-child) {
    .menu-label {
      display: block;
      margin-top: 1em;
    }
  }
}

.nav-link {
  @apply font-heading;

  font-weight: var(--f-weight-header);
  letter-spacing: 1px;
  text-transform: uppercase;

  &--button {
    align-items: center;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    font-weight: inherit;
  }
}

.nav-label {
  &:not(.menu-label) {
    text-transform: none;
  }
}
