#shopify-section-site-footer {
  @apply mt-auto;

  background-color: $c-bg;
  color: $c-text;

  > section:not(.simple-footer) {
    @apply pt-4;
  }

  .payment-icons {
    @screen desktop {
      float: right;
    }
  }
}

.site-footer-social {
  align-items: center;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;

  .site-footer-title {
    @apply mr-4;
  }
}

.site-footer-legal {
  li {
    white-space: nowrap;
  }
}
