#shopify-section-site-header {
  @apply px-0;

  position: sticky;
  top: 0;
  z-index: 50;
}

.site-header {
  @apply py-5 px-12 max-w-7xl;

  align-items: center;
  background-color: var(--color-bg);
  border-bottom: 1px solid #eee;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}

.site-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

/* Site actions */
.site-actions {
  @apply space-x-4;

  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
