#shopify-section-site-header {
  @apply px-0 z-40;

  background-color: $c-bg;
  border-bottom: 1px solid $c-border;
  position: sticky;
  top: 0;
}

.site-header {
  @apply py-5 px-12 mx-auto max-w-7xl;

  align-items: center;
  background-color: $c-bg;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;

  &.simple-site-header {
    justify-content: center;
  }
}

.header-banner {
  @apply pb-5;

  display: flex;
  flex: 0;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.site-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

/* Site actions */
.site-actions {
  @apply space-x-4;

  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.toggle-mobile-navigation {
  .icon-close,
  &[aria-expanded='true'] .icon-open {
    display: none;
  }

  .icon-open,
  &[aria-expanded='true'] .icon-close {
    display: initial;
  }
}
