$textarea-padding: $control-padding-horizontal !default;
$textarea-max-height: 40em !default;
$textarea-min-height: 8em !default;

$textarea-colors: $form-colors !default;

.input,
.textarea {
  box-shadow: $input-shadow;
  max-width: 100%;
  width: 100%;

  &[readonly] {
    box-shadow: none;
  }

  @each $name, $pair in $textarea-colors {
    $color: nth($pair, 1);
    $shadow: nth($pair, 3);

    &.is-#{$name} {
      border-color: $color;

      &:focus,
      &.focused,
      &:active,
      &.active {
        box-shadow: $input-focus-box-shadow-size $shadow;
      }
    }

    @extend %input;
  }

  &.small {
    @extend %control-small;
  }

  &.medium {
    @extend %control-medium;
  }

  &.large {
    @extend %control-large;
  }

  &.full {
    display: block;
    width: 100%;
  }

  &.inline {
    display: inline;
    width: auto;
  }
}

.input {
  &.rounded {
    @apply rounded;

    padding-left: calc(#{$control-padding-horizontal} + 0.375em);
    padding-right: calc(#{$control-padding-horizontal} + 0.375em);
  }

  &.is-static {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }

  &[type='search']::-webkit-search-decoration,
  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-results-button,
  &[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none !important;
    display: none !important;
  }

  &[type=search]::-ms-clear {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: $textarea-padding;
  resize: vertical;

  &:not([rows]) {
    max-height: $textarea-max-height;
    min-height: $textarea-min-height;
  }

  &[rows] {
    height: initial;
  }

  &.fixed-size {
    resize: none;
  }
}
