@import './functions/color';

$rtl: false !default;

// defaults from TailwindCSS

$breakpoints: small tablet desktop widescreen fullhd small-only tablet-only desktop-only widescreen-only widescreen-down desktop-down tablet-down mobile touch !default;

$black:        rgb(10, 10, 10) !default;
$black-bis:    rgb(18, 18, 18) !default;
$black-ter:    rgb(36, 36, 36) !default;

$grey-darker:  rgb(54, 54, 54) !default;
$grey-dark:    rgb(74, 74, 74) !default;
$grey:         rgb(122, 122, 122) !default;
$grey-light:   rgb(181, 181, 181) !default;
$grey-lighter: rgb(219, 219, 219) !default;
$grey-lightest: rgb(237, 237, 237) !default;

$white-ter:    rgb(245, 245, 245) !default;
$white-bis:    rgb(250, 250, 250) !default;
$white:        rgb(255, 255, 255) !default;

$orange:       rgb(255, 71, 15) !default;
$yellow:       rgb(255, 224, 138) !default;
$green:        rgb(72, 199, 142) !default;
$turquoise:    rgb(0, 209, 178) !default;
$cyan:         rgb(62, 142, 208) !default;
$blue:         rgb(72, 95, 199) !default;
$purple:       rgb(184, 107, 255) !default;
$red:          rgb(241, 70, 104) !default;

$darken-amt: 9%;
$lighten-amt: 9%;
$invert-amt: 75%;
$bg-lighten-amt: 60%;

// defaults from TailwindCSS

$family-sans: -apple-system, 'BlinkMacSystemFont', 'Avenir Next', 'Avenir', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Ubuntu', 'Roboto', 'Noto', 'Arial', sans-serif !default;
$family-serif: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$family-monospace: 'Menlo', 'Consolas', 'Monaco', 'Liberation Mono', 'Lucida Console', monospace !default;

$size-body: 16px !default;
$height-body: 1.7 !default;

$height-header: 1.2 !default;

$icon-size: 24 !default;
$icon-size-min: 8 !default;
$icon-size-max: 72 !default;
$icon-size-scale: 8 !default;

// defaults from TailwindCSS

$border-radius: 0.25rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-md: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-rounded: 9999px !default;

// Reusable derived colour variables

$primary: $turquoise !default;
$accent: $cyan !default;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$error: $red !default;
$sale: $primary !default;

$scheme-main: $white-ter !default;
$scheme-main-light: $white-bis !default;
$scheme-main-lighter: $white !default;
$scheme-invert: $black-ter !default;
$scheme-invert-dark: $black-bis !default;
$scheme-invert-darker: $black !default;

$background: $scheme-main !default;

$border: $grey-lighter !default;
$border-hover: $grey-light !default;
$border-dark: $grey-darker !default;
$border-dark-hover: $grey-dark !default;

$text: $grey-dark !default;
$text-light: $grey !default;
$text-lighter: $grey-light !default;
$text-strong: $grey-darker !default;
$text-stronger: $black-ter !default;
$text-invert: invert($text, $invert-amt) !default;
$text-invert-strong: invert($text-strong, $invert-amt) !default;

$link: $blue !default;
$link-hover: lighten($link, $lighten-amt) !default;
$link-focus: lighten($link, $lighten-amt) !default;
$link-active: darken($link, $darken-amt) !default;
$link-visited: $purple !default;

// Major Third Scale

$size-1: 3.0517578125 !default;
$size-2: 2.44140625 !default;
$size-3: 1.953125 !default;
$size-4: 1.5625 !default;
$size-5: 1.25 !default;
$size-6: 1 !default;
$size-7: 0.8 !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-bolder: 900 !default;

$transition-duration: 350ms !default;
$transition-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default;

// Variables referenced from Shopify theme variables with sensible defaults

$f-size-normal: var(--cn-fz-body, #{$size-body}) !default;
$f-size-small: var(--cn-fz-body-sm, floor($size-body * $size-7)) !default;
$f-size-medium: var(--cn-fz-body-md, floor($size-body * $size-5)) !default;
$f-size-large: var(--cn-fz-body-lg, floor($size-body * $size-4)) !default;
$f-height: var(--cn-lh-body, #{$height-body}) !default;

$f-family: var(--cn-ff-body, #{$family-sans}) !default;
$f-style: var(--cn-fs-body, normal) !default;
$f-weight: var(--cn-fw-body, #{$weight-normal}) !default;
$f-weight-light: var(--cn-fw-body--light, #{$weight-light}) !default;
$f-weight-bold: var(--cn-fw-body--bold, #{$weight-bold}) !default;
$f-weight-bolder: var(--cn-fw-body--bolder, #{$weight-bolder}) !default;

$f-size-h1: var(--cn-fz-header-1, floor($size-body * $size-1)) !default;
$f-size-h2: var(--cn-fz-header-2, floor($size-body * $size-2)) !default;
$f-size-h3: var(--cn-fz-header-3, floor($size-body * $size-3)) !default;
$f-size-h4: var(--cn-fz-header-4, floor($size-body * $size-4)) !default;
$f-size-h5: var(--cn-fz-header-5, floor($size-body * $size-5)) !default;
$f-size-h6: var(--cn-fz-header-6, floor($size-body * $size-6)) !default;
$f-height-header: var(--cn-lh-header, #{$height-header}) !default;

$f-family-header: var(--cn-ff-header, #{$family-serif}) !default;
$f-style-header: var(--cn-fs-header, normal) !default;
$f-weight-header: var(--cn-fw-header, #{$weight-bold}) !default;
$f-weight-header-light: var(--cn-fw-header--light, #{$weight-normal}) !default;
$f-weight-header-bold: var(--cn-fw-header--bold, #{$weight-bolder}) !default;

$c-primary: var(--cn-c-primary, $primary) !default;
$c-primary--rgb: var(--cn-c-primary--rgb, color-to-rgb($primary)) !default;
$c-primary-dark: var(--cn-c-primary-dark, darken($primary, $darken-amt)) !default;
$c-primary-light: var(--cn-c-primary-light, lighten($primary, $lighten-amt)) !default;
$c-primary-text: var(--cn-c-primary-text, contrast-color($primary)) !default;
$c-primary-bg: var(--cn-c-primary-bg, lighten($primary, $bg-lighten-amt)) !default;

$c-accent: var(--cn-c-accent, $accent) !default;
$c-accent--rgb: var(--cn-c-accent--rgb, color-to-rgb($accent)) !default;
$c-accent-dark: var(--cn-c-accent-dark, darken($accent, $darken-amt)) !default;
$c-accent-light: var(--cn-c-accent-light, lighten($accent, $lighten-amt)) !default;
$c-accent-text: var(--cn-c-accent-text, contrast-color($accent)) !default;
$c-accent-bg: var(--cn-c-accent-bg, lighten($accent, $bg-lighten-amt)) !default;

$c-error: var(--cn-c-error, $error) !default;
$c-error--rgb: var(--cn-c-error--rgb, color-to-rgb($error)) !default;
$c-error-dark: var(--cn-c-error-dark, darken($error, $darken-amt)) !default;
$c-error-light: var(--cn-c-error-light, lighten($error, $lighten-amt)) !default;
$c-error-text: var(--cn-c-error-text, contrast-color($error)) !default;
$c-error-bg: var(--cn-c-error-bg, lighten($error, $bg-lighten-amt)) !default;

$c-warning: var(--cn-c-warning, $warning) !default;
$c-warning--rgb: var(--cn-c-warning--rgb, color-to-rgb($warning)) !default;
$c-warning-dark: var(--cn-c-warning-dark, darken($warning, $darken-amt)) !default;
$c-warning-light: var(--cn-c-warning-light, lighten($warning, $lighten-amt)) !default;
$c-warning-text: var(--cn-c-warning-text, contrast-color($warning)) !default;
$c-warning-bg: var(--cn-c-warning-bg, lighten($warning, $bg-lighten-amt)) !default;

$c-success: var(--cn-c-success, $success) !default;
$c-success--rgb: var(--cn-c-success--rgb, color-to-rgb($success)) !default;
$c-success-dark: var(--cn-c-success-dark, darken($success, $darken-amt)) !default;
$c-success-light: var(--cn-c-success-light, lighten($success, $lighten-amt)) !default;
$c-success-text: var(--cn-c-success-text, contrast-color($success)) !default;
$c-success-bg: var(--cn-c-success-bg, lighten($success, $bg-lighten-amt)) !default;

$c-sale: var(--cn-c-sale, $sale) !default;
$c-sale--rgb: var(--cn-c-sale--rgb, color-to-rgb($sale)) !default;
$c-sale-dark: var(--cn-c-sale-dark, darken($sale, $darken-amt)) !default;
$c-sale-light: var(--cn-c-sale-light, lighten($sale, $lighten-amt)) !default;
$c-sale-text: var(--cn-c-sale-text, contrast-color($sale)) !default;
$c-sale-bg: var(--cn-c-sale-bg, lighten($sale, $bg-lighten-amt)) !default;

$c-bg: var(--cn-c-bg, $background) !default;
$c-bg--rgb: var(--cn-c-bg--rgb, color-to-rgb($background)) !default;
$c-bg-dark: var(--cn-c-bg-dark, darken($background, $darken-amt)) !default;
$c-bg-light: var(--cn-c-bg-light, lighten($background, $lighten-amt)) !default;

$c-text: var(--cn-c-text, $text) !default;
$c-text--rgb: var(--cn-c-text--rgb, color-to-rgb($text)) !default;
$c-text-light: var(--cn-c-text-light, adaptive-color($text-light)) !default;
$c-text-dark: var(--cn-c-text-dark, adaptive-color($text-strong)) !default;
$c-text-header: var(--cn-c-text-header, $text-strong) !default;
$c-text-header--rgb: var(--cn-c-text-header--rgb, color-to-rgb($text-strong)) !default;
$c-text-header-light: var(--cn-c-text-header-light, adaptive-color($text)) !default;
$c-text-header-dark: var(--cn-c-text-header-dark, adaptive-color($text-stronger)) !default;

$c-link: var(--cn-c-link, $link) !default;
$c-link--rgb: var(--cn-c-link--rgb, color-to-rgb($link)) !default;
$c-link-hover: var(--cn-c-link--hover, $link-hover) !default;
$c-link-focus: var(--cn-c-link--focus, $link-focus) !default;
$c-link-active: var(--cn-c-link--active, $link-active) !default;
$c-link-visited: var(--cn-c-link--visited, $link-visited) !default;

$c-border: var(--cn-border, $border) !default;
$c-border-light: var(--cn-border-light, $border-hover) !default;
$c-border-dark: var(--cn-border-dark, $border-dark) !default;
$c-border-dark--hover: var(--cn-border-dark--hover, $border-dark-hover) !default;

$c-btn-primary: var(--cn-btn-primary, $primary) !default;
$c-btn-primary-light: var(--cn-btn-primary-light, lighten($primary, $lighten_amt)) !default;
$c-btn-primary-dark: var(--cn-btn-primary-dark, darken($primary, $darken_amt)) !default;
$c-btn-primary-text: var(--cn-btn-primary-text, contrast-color($primary)) !default;
$c-btn-primary-text-light: var(--cn-btn-primary-text-light, adaptive-color(contrast-color($primary))) !default;
$c-btn-primary-text-dark: var(--cn-btn-primary-text-dark, adaptive-color(contrast-color($primary))) !default;

$c-btn-accent: var(--cn-btn-accent, $accent) !default;
$c-btn-accent-light: var(--cn-btn-accent-light, lighten($accent, $lighten_amt)) !default;
$c-btn-accent-dark: var(--cn-btn-accent-dark, darken($accent, $darken_amt)) !default;
$c-btn-accent-text: var(--cn-btn-accent-text, contrast-color($accent)) !default;
$c-btn-accent-text-light: var(--cn-btn-accent-text-light, adaptive-color(contrast-color($accent))) !default;
$c-btn-accent-text-dark: var(--cn-btn-accent-text-dark, adaptive-color(contrast-color($accent))) !default;

$form--bg: var(--cn-form-bg, $scheme-main-light) !default;
$form--bg--rgb: var(--cn-form-bg--rgb, color-to-rgb($scheme-main-lighter)) !default;
$form--headings: var(--cn-form-text-titles, $text-strong) !default;
$form--labels: var(--cn-form-text-labels, $text) !default;
$form--text: var(--cn-form-text, $text-strong) !default;
$form--text-dark: var(--cn-form-text-dark, $text-stronger) !default;
$form--text--rgb: var(--cn-form-text--rgb, color-to-rgb($text-strong)) !default;
$form--border: var(--cn-form-border, $border) !default;
$form--border-dark: var(--cn-form-border-dark, $border-dark) !default;
$form--border--rgb: var(--cn-form-border--rgb, color-to-rgb($border)) !default;

$modal-bg: var(--cn-modal-bg, $scheme-main-light) !default;
$modal-text: var(--cn-modal-text, $text) !default;
$modal-overlay: var(--cn-modal-overlay, $scheme-invert) !default;
$modal-overlay--rgb: var(--cn-modal-overlay--rgb, color-to-rgb($scheme-invert)) !default;
$modal-overlay-o: var(--cn-modal-overlay-o, 0.25) !default;

$card-bg: var(--cn-card-bg, $scheme-main-lighter) !default;
$card-text: var(--cn-card-text, $text) !default;
$card-shadow: var(--cn-card-shadow, $scheme-invert) !default;
$card-shadow--rgb: var(--cn-card-shadow--rgb, color-to-rgb($scheme-invert)) !default;
$card-shadow-o: var(--cn-card-shadow-o, 0.5) !default;

$image-overlay: var(--cn-image-overlay, $primary) !default;
$image-overlay--rgb: var(--cn-image-overlay--rgb, color-to-rgb($primary)) !default;
$image-overlay-text: var(--cn-image-overlay-text, $text-invert) !default;
$image-overlay--text-focus: var(--cn-image-overlay--text-focus, $text-invert-strong) !default;

$login-bg: var(--cn-login-bg, lighten($primary, $lighten-amt));
$login-bg--rgb: var(--cn-login-bg--rgb, color-to-rgb($primary));
$login-bg-align: var(--cn-login-bg-align, center);
$login-bg-blend: var(--cn-login-bg-blend, normal);
$login-bg-opacity: var(--cn-login-bg-opacity, 1);
$login-bg-repeat: var(--cn-login-bg-repeat, no-repeat);
$login-bg-size: var(--cn-login-bg-size, cover);

$accounts-bg: var(--cn-accounts-bg, lighten($primary, $lighten-amt));
$accounts-bg--rgb: var(--cn-accounts-bg--rgb, color-to-rgb($primary));
$accounts-bg-align: var(--cn-accounts-bg-align, center);
$accounts-bg-blend: var(--cn-accounts-bg-blend, normal);
$accounts-bg-opacity: var(--cn-accounts-bg-opacity, 1);
$accounts-bg-repeat: var(--cn-accounts-bg-repeat, no-repeat);
$accounts-bg-size: var(--cn-accounts-bg-size, cover);

$accounts-bar-bg: var(--cn-accounts-bar-bg, lighten($primary, $lighten-amt));
$accounts-bar-bg--rgb: var(--cn-accounts-bar-bg--rgb, color-to-rgb($primary));
$accounts-bar-text: var(--cn-accounts-bar-text, contrast-color($primary));


/**
 * derived color sets
 * 'name': (
 *   background,
 *   foreground,
 *   background_light, (optional)
 *   foreground_light, (optional)
 *   background_dark, (optional)
 *   foreground_dark (optional)
 * )
 */

$colors: (
  'black': (
    $scheme-invert-dark,
    $scheme-main-light,
    $scheme-invert,
    $scheme-main-lighter,
    $scheme-invert-darker,
    $scheme-main,
    $grey-dark
  ),
  'white': (
    $scheme-main-light,
    $scheme-invert-dark,
    $scheme-main-lighter,
    $scheme-invert,
    $scheme-main,
    $scheme-invert-darker,
    $grey-light
  ),
  'primary': (
    $c-primary,
    $c-primary-text,
    $c-primary-light,
    $c-primary-text,
    $c-primary-dark,
    $c-primary-text,
    $c-primary-bg
  ),
  'accent': (
    $c-accent,
    $c-accent-text,
    $c-accent-light,
    $c-accent-text,
    $c-accent-dark,
    $c-accent-text,
    $c-accent-bg
  ),
  'error': (
    $c-error,
    $c-error-text,
    $c-error-light,
    $c-error-text,
    $c-error-dark,
    $c-error-text,
    $c-error-bg
  ),
  'warning': (
    $c-warning,
    $c-warning-text,
    $c-warning-light,
    $c-warning-text,
    $c-warning-dark,
    $c-warning-text,
    $c-warning-bg
  ),
  'success': (
    $c-success,
    $c-success-text,
    $c-success-light,
    $c-success-text,
    $c-success-dark,
    $c-success-text,
    $c-success-bg
  ),
  'sale': (
    $c-sale,
    $c-sale-text,
    $c-sale-light,
    $c-sale-text,
    $c-sale-dark,
    $c-sale-text,
    $c-sale-bg
  ),
);

/**
 * mixins/_controls.scss
 */
$control-border-radius: 0;
$control-height: 3em;

/**
 * global/form/_shared.scss
 */
$input-focus-border-color: $c-primary-dark;
$input-focus-box-shadow-color: $c-primary;
$input-icon-hover-color: $c-primary;

/**
* components/_modal.scss
*/
$modal-radius: $border-radius;

/**
* global/_button.scss
* 'name': (background, text, hover, focus, active, disabled)
*/
$button-border-width: 3px;

$button-ghost-color: $c-link;
$button-ghost-hover-color: $c-link-hover;

/* override the primary and accent colours for buttons */
$button-colors: map-merge(
  $colors,
  (
    'primary': (
      $c-btn-primary,
      $c-btn-primary-text,
      $c-btn-primary-light,
      $c-btn-primary-text-light,
      $c-btn-primary-dark,
      $c-btn-primary-text-dark,
      $c-primary-bg
    ),
    'accent': (
      $c-btn-accent,
      $c-btn-primary-text,
      $c-btn-accent-light,
      $c-btn-accent-text-light,
      $c-btn-accent-dark,
      $c-btn-accent-text-dark,
      $c-accent-bg
    ),
  )
);
