.template-captcha {
  background-image: linear-gradient(to bottom, rgba(#{$c-primary--rgb}, 0.3), transparent);

  main {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
}

.shopify-challenge {
  &__container {
    @apply shadow-md;

    form {
      @apply my-4;
    }

    @extend %modal-body;
  }

  &__message {
    @apply my-4;

    font-size: $f-size-h5;
    font-weight: $f-weight-header;
  }

  &__button {
    letter-spacing: 1px;
    max-width: 304px; // recaptcha width
    text-transform: uppercase;
    width: 100%;

    @extend .is-ghost;
  }
}
