.template-captcha {
  background-color: $challenge-bg;

  > .background {
    background-blend-mode: $challenge-bg-blend;
    background-color: $challenge-bg;
    background-position: $challenge-bg-align;
    background-repeat: $challenge-bg-repeat;
    background-size: $challenge-bg-size;
    opacity: $challenge-bg-opacity;
    z-index: -1;
  }

  main {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.shopify-challenge {
  &__container {
    @extend %modal-body;

    @apply shadow-md;

    background-color: $challenge-prompt-bg;
    color: $challenge-prompt-text;

    form {
      @apply my-4;
    }
  }

  &__message {
    @apply my-4;

    color: inherit;
    font-size: $f-size-h5;
    font-weight: $f-weight-header;
  }

  &__button {
    letter-spacing: 1px;
    max-width: 304px; // recaptcha width
    text-transform: uppercase;
    width: 100%;

    @extend .is-ghost;
  }
}
