%customer-section {
  overflow: hidden;
  position: relative;
}

%customer-section-background {
  background-color: $login-bg;

  > .background {
    background-blend-mode: $login-bg-blend;
    background-color: $login-bg;
    background-position: $login-bg-align;
    background-repeat: $login-bg-repeat;
    background-size: $login-bg-size;
    opacity: $login-bg-opacity;
    z-index: 0;
  }

  > :not(.background) {
    position: relative;
  }
}

.customer-section {
  @apply py-16;

  @extend %customer-section;
}
