.login-section {
  background-color: $login-bg;

  > .background {
    background-blend-mode: $login-bg-blend;
    background-color: $login-bg;
    background-position: $login-bg-align;
    background-repeat: $login-bg-repeat;
    background-size: $login-bg-size;
    opacity: $login-bg-opacity;
    z-index: 0;
  }

  > :not(.background) {
    position: relative;
  }
}

.login-card {
  .card-header {
    @apply py-6;

    align-items: stretch;
    flex-direction: column;
  }
}

#login-heading,
#recover-password-heading {
  &:focus {
    outline: none;
  }
}

#guest-login-form {
  @apply mt-8;

  .btn {
    min-width: 16rem;
  }
}
