.account-section {
  @extend %customer-section-background;

  @apply pb-12;

  padding-top: 0;

  > :not(.background) {
    position: relative;
  }

  .hero {
    background-color: rgba($accounts-bar-bg--rgb, $accounts-bar-opacity);
    border-bottom: 1px solid $accounts-bar-bg;
    color: $accounts-bar-text;

    .title,
    .subtitle,
    .link {
      color: inherit;
    }
  }
}
