.address-section {
  @extend %customer-section-background;

  @apply pb-12;

  padding-top: 0;

  .hero {
    background-color: $accounts-bar-bg;
    color: $accounts-bar-text;

    .title,
    .subtitle,
    .link {
      color: inherit;
    }
  }
}

#address-modal .modal-body {
  @apply max-w-3xl;
}

.address-form {
  .address-fields {
    @apply -mx-2;

    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .field {
    @apply px-2;

    flex: 1 1 auto;
    min-width: 200px;
    width: 100%;

    &.half {
      width: 50%;
    }
  }

  .checkbox {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
  }

  [data-aria-hidden='true'] {
    display: none;
  }
}
