.activation-section {
  background-color: $login-bg;

  > .background {
    background-blend-mode: $login-bg-blend;
    background-color: $login-bg;
    background-position: $login-bg-align;
    background-repeat: $login-bg-repeat;
    background-size: $login-bg-size;
    opacity: $login-bg-opacity;
    z-index: 0;
  }

  > :not(.background) {
    position: relative;
  }
}

.activation-card {
  .card-header {
    @apply py-6;

    align-items: stretch;
    flex-direction: column;
  }
}
