*,
::before,
::after {
  box-sizing: border-box;
}

/* fast tap */
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

/* needed for TailwindCSS, did not want the rest of preflight */
[class*='border'] {
  border-color: theme('borderColor.default', currentColor);
  border-style: solid;
  border-width: 0;
}
