.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;

  &.active,
  &.hoverable:hover {
    .dropdown-menu {
      display: block;
    }
  }

  &.is-right {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  &.is-up {
    .dropdown-menu {
      @apply pb-2;

      bottom: 100%;
      top: auto;
    }
  }
}

.dropdown-menu {
  @apply pt-2 z-20;

  display: none;
  min-width: 12rem;
  position: absolute;
  top: 100%;
}

.dropdown-content {
  @apply bg-gray-100 py-2 rounded-sm shadow-sm;
}

.dropdown-item {
  @apply text-gray-600 text-sm leading-normal py-2 px-4;

  display: block;
}

a.dropdown-item,
button.dropdown-item {
  text-align: inherit;
  white-space: nowrap;
  width: 100%;

  &:hover {
    @apply bg-gray-50 text-gray-700;
  }

  &.active {
    @apply text-gray-700;
  }
}

.dropdown-divider {
  @apply bg-gray-200 my-2 mx-0;

  border: none;
  display: block;
  height: 1px;
}
