@import './form/all';

/* Qauntity increment */
.qty-wrapper {
  @apply border-gray-400;

  align-items: center;
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  padding-bottom: 1px;
}

.qty-increment {
  border: 0;
  color: var(--cn-c-text-light);
  padding: 3px 6px;

  &:hover {
    color: var(--cn-c-primary);
  }
}

.qty-icon {
  font-size: 20px;
  vertical-align: middle;
}

.qty-icon-delete {
  font-size: 18px;
}

.qty-count {
  border: 0;
  min-width: 1.5rem;
  text-align: center;
}

.qty-input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}
