/* js-enabled elements */
html.no-js .js-enabled {
  display: none;
}

.js .js-enabled {
  display: inherit;
}

.no-js .lazyload {
  display: none;
}

/* cookie-enabled elements */
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

/* toggle mouse events
*/

.not-interactive {
  pointer-events: none;
}

.interactive {
  pointer-events: initial;
}

/* support for transitions */
.transitioning {
  display: block !important;
  visibility: visible !important;
}

/* Fallback SVG image when no image has been set */
.placeholder-svg {
  background: $c-primary-bg;
  color: $c-primary;
  fill: currentColor;
}

/* Default Shopify Block section styles */
.shopify-section {
  @apply px-8;

  @screen widescreen {
    @apply px-12;
  }
}

/**
 * Form errors output by {{ form.errors | default_errors }}
 * https://shopify.dev/docs/liquid/reference/objects/form#form-errors
 */
.errors {
  @apply my-4 px-5 py-5;

  background-color: $c-error-bg;
  border-top-color: $c-error;
  border-top-style: solid;
  border-top-width: 3px;
  text-align: left;

  .title {
    color: $c-error;
    font-weight: $f-weight-bold;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  p,
  li {
    margin: 0.5em 0;
  }
}

/**
 * Pagination output by {{ paginate | default_pagination }}
 * https://shopify.dev/docs/liquid/reference/objects/paginate
 */
.prev a,
.next a,
.page a,
.current,
.deco {
  display: inline-block;
  padding: 0.5rem;
}

.prev {
  display: inline-block;
  margin-right: 1rem;
}

.next {
  display: inline-block;
  margin-left: 1rem;
}

.current {
  font-weight: $f-weight-bold;
}

.deco {
  color: $c-text-light;
}

/* hide the generated spritesheet */
#svelte-shopify-sprites {
  display: none !important;
}
