$table-color: $c-text !default;
$table-background-color: $scheme-main-light !default;

$table-cell-border: 1px solid $c-border !default;
$table-cell-border-width: 0 0 1px !default;
$table-cell-padding: 0.5em 0.75em !default;
$table-cell-heading-color: $c-text-header !default;

$table-head-cell-border-width: 0 0 2px !default;
$table-head-cell-color: $c-text !default;
$table-foot-cell-border-width: 2px 0 0 !default;
$table-foot-cell-color: $c-text !default;

$table-head-background-color: transparent !default;
$table-body-background-color: transparent !default;
$table-foot-background-color: transparent !default;

$table-ghost-background: transparent !default;
$table-ghost-border-color: transparent !default;
$table-ghost-color: $c-text !default;

$table-row-hover-background-color: $scheme-main-lighter !default;

$table-row-active-background-color: $c-primary-bg !default;
$table-row-active-color: $c-primary-dark !default;

$table-striped-row-even-background-color: $scheme-main !default;
$table-striped-row-even-hover-background-color: $scheme-main-light !default;

$table-colors: $colors !default;

table {
  td,
  th {
    vertical-align: top;

    &:not([align]) {
      text-align: inherit;
    }
  }

  th {
    color: $table-color;
  }
}

.table {
  &:not(:last-child) {
    @apply mb-4;
  }

  background-color: $table-background-color;
  color: $table-color;

  &.is-ghost {
    background-color: $table-ghost-background;
    border-color: $table-ghost-border-color;
    color: $table-ghost-color;
  }

  td,
  th {
    border: $table-cell-border;
    border-width: $table-cell-border-width;
    padding: $table-cell-padding;
    vertical-align: top;

    @each $name, $pair in $table-colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);
      &.is-#{$name} {
        background-color: $color;
        border-color: $color;
        color: $color-invert;
      }
    }

    &.narrow {
      white-space: nowrap;
      width: 1%;
    }

    &.selected {
      background-color: $table-row-active-background-color;
      color: $table-row-active-color;

      a,
      strong {
        color: currentColor;
      }
    }

    &[valign='middle'] {
      vertical-align: middle;
    }
  }

  th {
    color: $table-cell-heading-color;

    &:not([align]) {
      text-align: inherit;
    }
  }

  tr {
    &.selected {
      background-color: $table-row-active-background-color;
      color: $table-row-active-color;

      a,
      strong {
        color: currentColor;
      }

      td,
      th {
        border-color: $table-row-active-color;
        color: currentColor;
      }
    }
  }

  thead {
    background-color: $table-head-background-color;

    td,
    th {
      border-width: $table-head-cell-border-width;
      color: $table-head-cell-color;
    }
  }

  tfoot {
    background-color: $table-foot-background-color;

    td,
    th {
      border-width: $table-foot-cell-border-width;
      color: $table-foot-cell-color;
    }
  }

  tbody {
    background-color: $table-body-background-color;

    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 0;
        }
      }
    }
  }

  &.bordered {
    td,
    th {
      border-width: 1px;
    }

    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 1px;
        }
      }
    }
  }

  &.wide {
    width: 100%;
  }

  &.narrow {
    td,
    th {
      @apply py-1 px-2;
    }
  }

  &.hoverable {
    tbody {
      tr:not(.selected) {
        &:hover {
          background-color: $table-row-hover-background-color;
        }
      }
    }

    &.striped {
      tbody {
        tr:not(.selected) {
          &:hover {
            background-color: $table-row-hover-background-color;

            &:nth-child(even) {
              background-color: $table-striped-row-even-hover-background-color;
            }
          }
        }
      }
    }
  }

  &.striped {
    tbody {
      tr:not(.selected) {
        &:nth-child(even) {
          background-color: $table-striped-row-even-background-color;
        }
      }
    }
  }
}

.table-container {
  &:not(:last-child) {
    @apply mb-4;
  }

  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}
