body {
  font-family: $f-family;
}

a {
  color: $c-link;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &.hovered {
    color: $c-link-hover;
  }

  &:focus,
  &.focused {
    color: $c-link-focus;
  }

  &:active,
  &.active {
    color: $c-link-active;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $c-text-header;
  font-family: $f-family-header;
  line-height: $f-height-header;

  .prose &:not(:last-child) {
    padding-bottom: 0.5rem;
  }
}

h1,
.h1 {
  font-size: $f-size-h1;
}

h2,
.h2 {
  font-size: $f-size-h2;
}

h3,
.h3 {
  font-size: $f-size-h3;
}

h4,
.h4 {
  font-size: $f-size-h4;
}

h5,
.h5 {
  font-size: $f-size-h5;
}

h6,
.h6 {
  font-size: $f-size-h6;
}

.title {
  margin-bottom: 1.25rem;
}

.subtitle {
  .title + & {
    margin-top: -0.5rem;
  }
}

.prose {
  @apply mx-auto max-w-3xl;

  &,
  > * {
    color: inherit;
  }

  &.narrow {
    @apply max-w-lg;
  }

  &.wide {
    @apply max-w-7xl;
  }
}

.text-caps {
  font-family: $f-family;
  font-size: $size-7 * 1em;
  font-weight: $f-weight-bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.asterisk {
  color: $c-error;
  font-size: $f-size-medium;
  font-weight: $f-weight-bold;
}
